{% extends "site.html" %}
{% block title %}Ozeliurs' Website - Articles{% endblock %}
{% block content %}
<!-- [date_f, link, title, date, fline] -->
{% for article in articles %}
    <a href="{{article[1]}}" class="text-dark"><div class="card" style="margin: 10px auto">
        <h1 style="margin-bottom: 0px">{{article[2]}}</h1>
        <code>{{article[3]}}</code>
        <hr>
        <p>{{article[4]}}</p>
    </div></a>
{% endfor %}
{% endblock %}