<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <!-- https://feathericons.com/ && https://jenil.github.io/chota/ -->
</head>
<body style="background-color: rgba(26, 159, 96, 00.2)">
<nav class="nav" style="background-color: white">
    <div class="nav-left">
        <a href="/" class="brand">Ozeliurs' Website</a>
        <div class="tabs">
            <a href="/projects">Projects</a>
            <a href="/articles">Articles</a>
        </div>
    </div>
    <div class="nav-right">
        <a href="https://github.com/ozeliurs-MaximeBilly" class="button outline">Github</a>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
