<h1>How I made a honeypot to catch Hackers.</h1>
<code>02/08/2021</code>
<hr>
<h4>Come here to learn how to catch hackers, see what malware they execute currently and display this information beatifully using Flask.</h4>
<hr>
<p>As a holiday project I wanted to know why so many ip adresses tried to connect to my personnal server. In the quest of truth I stumbled on Cowrie, a linux program that captures ssh sessions and allows us to analyse the ssh traffic to our machine.</p>
<h5>The installation process</h5>
<p>For installation you can install the app on docker which eases the install process.<br>Make sure to have your ssh port relocated to another (You can use <a href="https://linuxhandbook.com/change-ssh-port/">This Guide</a>).</p>
<blockquote>docker run -d -p 22:2222/tcp --name cowrie cowrie/cowrie</blockquote>
<p>You can find more info <a href="https://github.com/cowrie/docker-cowrie">here</a>.</p> 
<p>Now that your honeypot is running it will collect logs on each and every ssh session. Let some time to hackers to attack your pc and soon you will be able to analyze the logs.</p>
<h5>Analyzing the Logs</h5>
<p>Now comes the fun part. What are the hackers trying to do ...</p>
<p>First to extract the logs from docker you'll have to execute a command.</p>
<blockquote>docker exec cowrie /bin/sh -c "cat var/log/cowrie/cowrie.json*" > cowrie.json</blockquote>
<p>This command executes <code>cat var/log/cowrie/cowrie.json*</code> inside of your docker container and redirects the output to <code>cowrie.json</code> on the current directory.</p>
<img src="" alt="">
<p>This isn't very readeable... We'll fix this with some python code.</p>
<blockquote><pre>with open("cowrie.json", "r", encoding="utf8") as f:
    cowrie_j = f.read()

cowrie_j = "[" + cowrie_j.replace("\n", ",")[:-1] + "]"
cowrie_j = json.loads(cowrie_j)</pre></blockquote>
<p>This will open the cowrie.json file and make it json readeable.<br>Now we will extract the ips connecting to us and count them.</p>
<blockquote><pre>for el in cowrie_json:
    if el["eventid"] == "cowrie.session.connect":
        if el["src_ip"] not in ip_dic:
            ip_dic[el["src_ip"]] = {"count": 1}
        else:
            ip_dic[el["src_ip"]]["count"] += 1
return ip_dic</pre></blockquote>